{% extends "base.html" %}
{% block content %}
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Uno Cabs</a>
        <div class="nav-content">
            <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal" href="/add">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
</nav>
<br>

<div class="blurit container">

    <form method="POST" enctype="multipart/form-data">
        <div class="col">
            <div class="row">
                <div class="input-field col s6">
                    <input name="s_loc" type="text" id="source" class="validate" required>
                    <label for="source">source location</label>
                </div>
                <div class="input-field col s6">
                    <input name="d_loc" type="text" id="destination" class="validate" required>
                    <label for="destination">destination location</label>
                </div>
            </div>


            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input name="name" id="icon_prefix" type="text" class="validate" required>
                    <label for="icon_prefix">Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">phone</i>
                    <input name="p_no" id="icon_telephone" type="tel" class="validate" required>
                    <label for="icon_telephone">Telephone</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <select name="vehicle" required>
                        <option value="" disabled selected>Choose your vehicle</option>
                        <option value="directions_bike">2 wheeler</option>
                        <option value="time_to_leave">4 wheeler</option>
                    </select>
                    <label>Materialize Select</label>
                </div>

                <div class="input-field col s6">
                    <i class="material-icons prefix">attach_money</i>
                    <input name="money" id="icon_attach_money" type="number" class="validate" required>
                    <label for="icon_attach_money">cost</label>
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <div class="input-field">
                        <input name="t_d" type="datetime-local" id="timedate" class="validate" required>
                    </div>
                </div>
                <div class="col s6">
                    <div class="input-field">
                        <input name="pk_add" type="text" id="pkaddress" class="validate" required>
                        <label for="pkaddress">pickup address</label>
                    </div>
                </div>

            </div>


        </div>

        <button class="btn waves-effect right waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>

    </form>

    <br>


</div>


{% endblock %}