<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uno cabs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" href="{{ url_for( 'static',filename='css/main.css') }}">

    <link rel="manifest" href="{{ url_for( 'static',filename='manifest.json') }}" />
    <link rel="icon" href="{{ url_for( 'static',filename='favicon.ico') }}" />


</head>

<body>
    {% block content %}

    {% endblock %}

    <script src="{{ url_for( 'static',filename='js/main.js') }}"></script>
    <script src="{{url_for('static' ,  filename='js/app.js')}}"></script>
</body>

</html>