{% extends "base.html" %}
{% block content %}
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Uno Cabs</a>
        <div class="nav-content">
            <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal" href="/login">
                <i class="material-icons">supervisor_account</i>
            </a>
        </div>
    </div>
</nav>
<br>

<div class="container">

    {% if allcabs.count() != 0 %}
    {% for cab in allcabs %}
    <div class="row items">
        {{cab.s_loc}} <span class="material-icons">{{cab.vehicle}}</span> {{cab.d_loc}}

        <div class="right">
            <button class="btn" onclick="myFunction('{{cab._id}}')">details</button>
        </div>
        <div class="row" id='{{cab._id}}' style="display: none;" >
            <hr>

                <div class="card-info" ><b>Name</b> : {{cab.name}}</div>
                <div class="card-info" ><b>Telephone</b> : {{cab.p_no}}</div>
                <div class="card-info" ><b>Cost</b> : {{cab.money}}</div>
                <div class="card-info" ><b>date & time</b> : {{cab.t_d}}</div>
                <div class="card-info" ><b>Pickup address</b> : {{cab.pk_add}}</div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h3 class="grey-text center"><i class="material-icons">mood_bad</i>cabs not found in your area</h3>
    {% endif %}
</div>

{% endblock %}